<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eesti branch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/default.css" />
    <link rel="icon" type="image/x-icon" href="../img/favicon/favicon.ico">
</head>

<body>
    <div class="container-fluid" id="top">
        <nav class="navbar-trans navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="../index.html">KLAN KOLGA</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Hem
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="sweden.html">Svenska grenen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Estniska grenen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="photos.html">Fotografier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="events.html">Aktuella evenemang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="trophy.html">Leida Kolga Trophy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="history.html">Kolga the Story</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <main class="container">
        <section class="eesti" id="e">
            <h1>ESTNISKA GRENEN</h1>
            <div class="col-12">
                <img src="../img/estonia-flag.jpg" alt="Estonian Flag">
            </div>
           

            <div class="eesti-text">
                <h6>På Artur Kolgas sida finns ingen släkt kvar i livet.</h6>
                <p>På Leida Kolgas sida finns släkt kvar i Viljandi. Men om dessa vet vi ingenting. Det är framför allt Leida Kolgas
                    farbror Johann Koovit som har släkt i livet. Johann fick fem barn. Av dessa lever bara Jaan Koovit som är alltså
                    Leidas kusin. Jaan är gift med Elvi och bor i Jöhvi i nordöstra Estland. De har en dotter Urve (född 1960) som
                    bor i Tallinn och har en son Siim (född 1981). Siim är gift med Maarja-Liisa och bor också i Tallinn. De har
                    en son, Mihkel, född 2016. Urve är alltså syssling till Andrus, Hele-Mall och Hendrik. Siim är tremänning till
                    Andrus, Hele-Malls och Hendriks barn. Leida Kolgas kusin Leida Konsik på mödernet (född Usbek) föddes 1915 och
                    dog 1950. Hon efterlämnar två barn: Ene Kalda och Toomas Konsik. Ene (född 1950) bor på Lidingö, Toomas bor i
                    Tallinn. Andrus, Hele-Mall och Hendrik är alltså sysslingar till Ene och Toomas.</p>
        
                <p>Här kan Diana skriva om Konrads estniska gren om hon vill.</p>
            </div>
        </section>



    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>

</html>