<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swe branch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <section class="family" id="f">
        <h1>SVENSKA GRENEN</h1>
        <img src="img/85581.jpg" alt="Swedish Flag">
        <div class="swe-text"></div>
    
    
        <h6>
            Historien om släkten i Sverige inleddes hösten 1944. Då flydde Artur Kolga med sin fru Leida, hans syskon Ilme och Aino med
            make Konrad till Sverige.
        </h6>
        <h6>Artur och Leida Kolga</h6>
        <p>De fick tre barn: Andrus (född 1947), Hele-Mall (född 1952) och Hendrik (född 1953).</p>
    
        <h6>Andrus Kolga</h6>
        <p>bor med sin Nina Langenskiöld på Östermalm i Stockholm. Han har tre barn: Rebecca och Alexander (med Kerstin Maraldo)
            och Tim med (Karin Kihlgren). Rebecca Kolga (född 1970) är ensamstående och bor i Upplands-Väsby. Hon har ett barn
            Villiam (född 2003). Alexander Kolga (född 1973) lever med sin Kristin i Sollentuna och har två barn: Linnea (född
            2010) och Artur (född 2012). Tim Kolga (född 1980) bor med sin Sofia på Kungsholmen, Stockholm. De har två söner,
            Elton, född 2016 samt Lill-Tim, född 2018.</p>
    
        <h6>Hele-Mall Jungefeldt</h6>
        <p>bor med sin Dan (som också är morbror till Hendriks barn) på Värmdö. Hele-Mall har ett barn, Christian (född 1980) tillsammans
            med Hans Jungefeldt. Christian är gift med Sofie. De bor på Lilla Essingen i Stockholm. Tillsammans har de sonen
            Philip (född 2010). Sofie har två barn i tidigare äktenskap, Casper och Bella.</p>
    
    
    
        <h6>Hendrik Kolga</h6>
        <p>är gift med Cecilia Kolga och bor på Kungsholmen. Han har två barn med Ann (som är syster till Malles sambo Dan): Johanna
            Kolga (född 1980) och Martina Kolga (född 1984). Johanna är gift med Hans Dahlberg Kolga. De bor på Lidingö och har
            två gemensamma barn: Ingrid (född 2011) och Helmer (född 2014). Hans har två flickor, Ellinor och Fredrika, från
            tidigare äktenskap. Martina bor på Kungsholmen med sin Pierre. Hon har två barn i tidigare äktenskap med Afram Issa:
            Gabriel (född 2009) och Elias (född 2011).
        </p>
        <h6>Aino och Konrad Kelder</h6>
        <p> De fick en dotter, Diana (född 1951). Diana är gift med Carl-Gustav (KG) Jostell och de fick barnen Edward (född 1987)
            och Mimmi (född 1989) samt Julia Fanny Alice ( född 1992, död 1992 i SIDS).</p>
    
        <h6>Ilme och Birger Dahl</h6>
        <p> De fick två barn: Per (född 1951) och Anders (född 1959). Per Dahl bor i Växjö med Anette Johansson. Han har två barn:
            Viktor och Lisa (med Cecilia Libertsson). Viktor Dahl (född 1979) bor i Stockholm på Reimersholme. Gift med Märta
            Hermelin och har två barn, Hedvig (född 2010) och Lovisa (född 2013). Lisa Dahl (född 1982) bor i Ystad med Rikard
            Persson. De har två barn, Maj (född 2012) och Viola (född 2015). Anders Dahl bor i Lomma utanför Malmö med Katrin
            Larsson. Han har två barn: Caroline (född 1991) och Gustav (född 1994). Både Caroline och Gustav bor och studerar
            i Uppsala.</p>
        </div>
    </section>
</body>
</html>