* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
 
  max-height: 100%;
  background-color: #1D3557;
  //background-image: url("../../img/estonia-flag.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 2rem;
}

h1,h2,h3,h4,h5,h6 {
  
  color: #F1FAEE;
}
p {
  color : #F1FAEE;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  //border: 1px solid white;
}

.container {
  //border: 1px solid white;
  height: 100%;
}
