.home {
  //border: 1px solid red;
  width: 100%;
  height: auto;
  margin-top: 1rem;

  h1 {
    font-size: 120px;
    text-align: center;
  }
}

.box {
  width: 200px;
  height: 400px;
  background-color: red;
  margin: 0 auto;
}
