.home {
    border: 1px solid red;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

h1 {
    text-align: center;
    color: white;
}

.box {
    width: 200px;
    height: 400px;
    background-color: red;
    margin: 0 auto;
    
}