.trophy {
  //border: 1px solid red;
  width: 100%;
  height: auto;
  margin-top: 1rem;

    h1 {
        text-align: center;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .trophy-container {
      padding: 0 30px;
      text-align: center;
    }
}
