.trophy {
  border: 1px solid red;
  width: 100%;
  height: auto;
  margin-top: 1rem;

    h1 {
        text-align: center;
    }

  .box3 {
    width: 200px;
    height: 900px;
    background-color: orange;
    margin: 0 auto;
  }

}
